.box_bottom {
    padding: 1em 0em 0em 1.5em;
    height: 120px;
    background-color: white;
}

.name_discr {
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 4px;
    text-align: left;
    color:#3C46FF
}

.short {
    padding: 1em 0em 0em 0em;
}

.short_discr {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.button_box {
    padding: 1em 0em 0em 0em;
}

.btn_box {
    border:none;
    font-size: 18px;
    line-height: 18px;
    background-color: #fbfbfb;
    cursor: pointer;
}
